@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-colour: #075985;

    --seccolour:#78350f
    ;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.non-blluet-lists .pad{
    padding: 1rem;

}


.container{
    padding: 0rem 1rem;
}
.container-centre{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}



.link-primary{
    border-radius: 0.5rem;
    color: white;
    background-color: var(--primary-colour);
}

.link-secondary{
    
    border-color:var(--primary-colour);
    border: solid  1px;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--primary-colour);



}
.link-third{
    color: var(--primary-colour);
    text-decoration: none;}

    
.non-blluet-lists{
    list-style: none;
}

.inline-bullet-lists{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-colour);
    color: white;
    padding: 1rem;

    border-bottom-left-radius: 1rem;
}

.navigation .link{
    color: white;
}

.nav{
    text-align:right;
}

.navigation .brand-nav{
    font-weight: bold;
    font-size: 0.8rem;
    text-align:left;
}

.navigation .link-active{
    font-weight: bolder;
}

.hero .pro-img{
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50%;
}

.hero .hero-img{
    border-radius: 30%;
    padding: 2rem;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding: 0.5rem;
    color: darksalmon;
    text-align:center;
   }

.hero .head-title{
  color: var(--primary-colour);  
  text-align: center;
}

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.-ow{
    background-color: bisque;
}



.footer{
    padding: 2rem;
    text-align: center;
    background-color: var(--primary-colour);
    border-top-right-radius: 1rem;
    color: white;
}

.footer .link{
    color: white;
}


.section .link-blog{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--primary-colour);
}







